# Project ignores
__pycache__/
*.pt
*.pth
.DS_Store
*.log
course_examples/
.cursorrules
spec.pdf
runs/218391_78.jpeg
runs/218391_79.jpeg
runs/218391_80.jpeg
runs/218391_81.jpeg
runs/218391_82.jpeg
recognition/runs/metrics/loss_acc_epoch_25.png
old.README.md

1.cheat-subject/
2.(72%)Overfitting/